.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 10px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
  background-color: white;
}

.shadow {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.card {
  border-radius: 0;
  cursor: pointer;
  &:hover {
    background-color: #f5f8fa;
    .card-body {
      background-color: #f5f8fa;
    }
  }
}

a.page-link {
  cursor: pointer;
}

img {
  height: 75px;
  width: 75px;
}

.more-info {
  font-weight: 700;
  color: #49BEB7;
}

.content {
  strong {
    a {
      color: #000;
      &:hover {
        color: #49BEB7;
      }
    }
  }
}

.user-name {
  &:hover {
    color: #49BEB7;
  }
}
