<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark shadow">
  <a class="navbar-brand" href="">Avito-Challenge</a>
</nav>
<div class="container-fluid">
  <nav class="col-sm-3 d-none d-sm-block bg-light sidebar">
    <div class="form-group">
      <label for="per-page">Movies per page</label>
      <select name="per-page"
              id="per-page"
              class="form-control"
              (change)="selectedPage = 0"
              [(ngModel)]="perPage">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
      </select>
    </div>
    <div class="form-group">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [checked]="shouldFilterLikes"
               (change)="shouldFilterLikes = !shouldFilterLikes">
        > 10 likes
      </label>
    </div>
    <div class="form-group">
      <label for="search">Search by description</label>
      <input class="form-control" id="search" [(ngModel)]="search">
    </div>
  </nav>

  <main role="main" class="col-sm-9 ml-sm-auto pt-3">
    <h1>Movies List</h1>
    <div class="cards">
      <div class="card"
           *ngFor="let movie of data | async | slice:(selectedPage*perPage):(perPage*(1+selectedPage)) | filter:'description':search | likesFilter:shouldFilterLikes">
        <div class="card-body p-3">
          <div class="d-flex">
            <div class="profile-pic mr-3">
              <img [src]="movie?.user?.pictures?.sizes[1].link || 'http://via.placeholder.com/75x75'"
                   class="rounded-circle" alt="">
            </div>
            <div class="body w-100">
              <strong class="user-name">{{movie?.user?.name}}</strong>
              <div class="card">
                <div class="card-body">
                  <div class="d-flex">
                    <div class="img mr-3">
                      <a [href]="movie.link" target="_blank">
                        <img
                          [src]="movie?.pictures?.sizes[1].link_with_play_button || 'http://via.placeholder.com/100x100'"
                          class="rounded pull-left" alt="">
                      </a>
                    </div>
                    <div class="content">
                      <strong><a [href]="movie.link" target="_blank">{{movie.name}}</a></strong>
                      <p>{{movie?.description | slice:0:200}} <span *ngIf="movie?.description" class="more-info">...</span></p>
                      <p *ngIf="!movie?.description" class="text-muted">No description</p>
                    </div>
                  </div>
                </div>
              </div>
              <ul class="list-inline mt-3">
                <li class="list-inline-item">
                  <a class="text-muted">
                    <i class=" fa fa-play" aria-hidden="true"></i>
                    {{movie?.stats?.plays || 0}}
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="text-muted">
                    <i class=" fa fa-commenting" aria-hidden="true"></i>
                    {{movie?.metadata?.connections?.comments?.total}}
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="text-muted">
                    <i class=" fa fa-heart-o" aria-hidden="true"></i>
                    {{movie?.metadata?.connections?.likes?.total}}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item"
            *ngFor="let page of pagination[perPage]"
            (click)="selectedPage = page"
            [class.active]="page===selectedPage">
          <a class="page-link">{{page+1}}</a>
        </li>
      </ul>
    </nav>
  </main>
</div>
